body {
    background:#DFDFDF;
    color:#000;
    overflow:hidden;
}

p.notify {
    background:#C3C3C3;
    margin:0;
    padding: 20px;
    text-transform:uppercase;
    -webkit-app-region: drag;
    text-align: center;
}

.row2 {
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    padding:20px;
    padding-left: 25%;
    text-align:center;
}

input {
    padding:12px;
}

#closeBtn {
    cursor:pointer;
    padding:20px;
    text-decoration:underline;
    text-align:center;
    display:block;
}
/* 

#ok {
    text-align:center;
    display:block;
} */

html, body {
    background: rgba(226, 226, 226, 0.4);
    height:100%;
}