body {
  background-color: rgb(0, 0, 0);
}
#boxes{
    width:80%;
    margin:auto;
    text-align: center;
    background:rgb(0, 0, 0);
  }

  #btns{
    padding:20px;
    background:rgb(0, 0, 0);
    margin-bottom:20px;
    opacity: .0;
    
  }

  #btns button{
    background:#A52A2A;
    padding:5px 10px;
    border:0;
  }

  #btns .fa{
    font-size:30px;
  }

  #btns .fa-play-circle{
    color:green;
  }

  #btns .fa-pause-circle{
    color:red;
  }

  .box{
    position: relative;
    width:100px;
    height: 100px;
    margin:4px;
    display:inline-block;
  }

  .red{background-color:red}
  .blue{background-color:blue}
  .green{background-color:green}
  .yellow{background-color:yellow}

.imagenEsp {
    position: relative;
    width:100px;
    height: 150px;
    margin:4px;
    display:inline-block;
    border-radius: 8px;
}

.imagenLengua {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 50%;
  right: 50%;
  opacity: 0;
}
.imagenPiernas {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 50%;
  right: 50%;
  opacity: 0;
}
.imagenManoDer {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 50%;
  right: 50%;
  opacity: 0;
}
.imagenManoIzq {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 50%;
  right: 50%;
  opacity: 0;
}
.imagenArdown {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 17%;
  right: 50%;
  opacity: .0;
}
.imagenArright {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 50%;
  right: 12.5%;
  opacity: .0;
}
.imagenArup {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 71%;
  right: 50%;
  opacity: .0;
}
.imagenLeft {
  position: fixed;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  border-radius: 8px;
  bottom: 50%;
  right: 78.6%;
  opacity: .0;
}
#safeTimerDisplay {
  background-color: #ffffff;
  position: absolute;
  bottom: 8%;
  right: 8%;
}
#playBtn {
  background-color: #ffffff;
  position: absolute;
  bottom: 8%;
  right: 90%;
}
#syncBtn {
  background-color: #ffffff;
  position: absolute;
  bottom: 90%;
  right: 87%;
}
.registroImagenes {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}