body {
    background:#DFDFDF;
    color:#000;
    overflow:hidden;
}


.dronetown {
    width: 200%;
}

p.notify {
    background:#C3C3C3;
    margin:0;
    padding: 20px;
    text-transform:uppercase;
    -webkit-app-region: drag;
    text-align: center;
}

.row1 {
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    padding:20px;
    padding-left: 23%;
    padding-top: 60%;
    text-align:center;
}

.row2 {
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    padding:20px;
    padding-left: 0%;
    text-align:center;
}

input {
    padding:12px;
}

#closeBtn {
    cursor:pointer;
    padding:20px;
    text-decoration:underline;
    text-align:center;
    bottom: 90%;
    display:block;
}
/* 

#ok {
    text-align:center;
    display:block;
} */

html, body {
    background: #26A2D3;
    height:100%;
}